//
// Typography
//

$font-size-root: 16px;
$font-size-base: 1rem;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$line-height-base: 1.5;

//
// Breakpoints
//

$sm-viewport: 560px;
$md-viewport: 760px;
$lg-viewport: 960px;

//
// Spacing
//

$spacer: 1rem;

// Light Theme Variables
$light-bg-color: #FFFFFF;
$light-text-color: #000000;
$light-accent-color: #007BFF;
$light-border-color: #E0E0E0;

// Dark Theme Variables
$dark-bg-color: #121212;
$dark-text-color: #E0E0E0;
$dark-accent-color: #004D61;
$dark-border-color: #444444;