<div class="section-container">
    <div class="login-container">
      <form [formGroup]="loginForm">
        <h2>Sign in to your account</h2>
        <div class="login-field">
          <label for="email">Your Email</label>
          <input formControlName="email" type="email" id="email" name="email" placeholder="Enter your email" required />
        </div>
        <div class="login-field">
          <label for="password">Password</label>
          <input formControlName="password" type="password" id="password" name="password" placeholder="Enter your password" required />
        </div>
        <div class="login-field forgot-password">
          <label>
            <input type="checkbox" name="remember-me" />
            Remember me
          </label>
          <a href="#" class="forgot-password-link">Forgot password?</a>
        </div>
        <div class="login-field">
          <button type="submit" class="btn">Sign in</button>
        </div>
        <p class="account-message">
          Don't have an account yet? <a href="#">Sign up</a>
        </p>
      </form>
    </div>
  </div>
  